sudo: required

services:
  - docker
  - postgresql
  - redis

language: ruby

rvm:
  - 2.3.1

before_install:
  - docker-compose build
  - docker-compose up -d
env:
  - RAILS_ENV=test
script:
  - docker exec filmplanner_web_1 bin/rake db:create db:migrate
  - docker exec -e CI=true -e TRAVIS_JOB_ID="$TRAVIS_JOB_ID" -e TRAVIS_BRANCH="$TRAVIS_BRANCH" filmplanner_web_1 bin/bundle exec rspec