udo: required

services:
  - docker
  - postgresql

language: ruby

rvm:
  - 2.2.3

before_install:
  - docker-compose build
  - docker-compose up -d
env:
  - RAILS_ENV=test
script:
  - docker exec filmplanner_web_1 bin/rake db:create db:migrate
  - docker exec filmplanner_web_1 bin/bundle exec rspec